@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
    background-color: white;
    background-image: url("../images/repeating-trees.png");
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

body.aaaaah {
    background-image: url("../images/nicolas-bg.jpg");
    animation: nic 20s linear infinite;
}

@keyframes nic {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -5120px;
    }
}

#container {
    max-width: 880px;
    padding: 40px;
    margin: 0 auto;
    background: rgba(240, 230, 140, 0.9);
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "image content"
        "footer footer";
    grid-gap: 20px;
    border-radius: 10px;
}

body.aaaaah #container {
    background: linear-gradient(
        to bottom,
        rgba(205, 133, 63, 0),
        rgba(205, 133, 63, 0.7) 10%,
        rgba(205, 133, 63, 0.9)
    );
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

@media (max-width: 800px) {
    #container {
        grid-template-areas:
            "header header"
            "content content"
            "image image"
            "footer footer";
    }
}

@media (max-width: 400px) {
    #container {
        padding: 20px;
    }
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.image {
    grid-area: image;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input,
label {
    display: block;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:active {
    color: royalblue;
}

body.aaaaah a:hover,
body.aaaaah a:active {
    color: goldenrod;
}

h1 {
    color: white;
    font-style: italic;
    text-shadow: 30px 30px 10px black;
    font-family: "Acme", sans-serif;
    letter-spacing: 10px;
}

button,
img,
.name,
.icon {
    cursor: pointer;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
}

p:nth-of-type(2) {
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
}

figure img {
    max-width: 100%;
    height: auto;
}

img:hover {
    filter: brightness(110%);
}

body.aaaaah img:hover {
    filter: brightness(110%) hue-rotate(90deg);
}

ul {
    display: flex;
    flex-flow: column wrap;
    height: 120px;
}

@media (max-width: 600px) {
    ul {
        height: inherit;
    }
}

li:nth-of-type(1) {
    color: tomato;
}

li:nth-of-type(2) {
    color: sienna;
}

li:nth-of-type(3) {
    color: dodgerblue;
}

li:nth-of-type(4) {
    color: mediumseagreen;
}

li:nth-of-type(5) {
    color: slateblue;
}

li:nth-of-type(6) {
    color: violet;
}

li:nth-of-type(7) {
    color: crimson;
}

li:nth-of-type(8) {
    color: mediumturquoise;
}

li:nth-of-type(9) {
    color: darkorange;
}

li:nth-of-type(10) {
    color: olivedrab;
}

body.aaaaah li {
    color: lightgray;
}

li:hover {
    transform: translateX(-5px);
}

.altimage {
    transform: rotate(15deg);
}
